body{
    text-align: center;
    background-color: red;
    color: white;
}
.main{
    border: 2px solid black;
    width: 400px;
    padding: 20px;
    margin-left: 37%;
    background-color: darkblue;
}
#result{
    background-color: white;
    width: 300px;
    text-align: center;
    margin-left: 50px;
    margin-top: 5px;
    color: black;
}